<header class="mx-auto" style="max-width: 1440px">
  <nav class="navbar bg-body-tertiary fixed-top p-0">
    <div class="container-fluid px-5 px-lg-6 py-4">
      <div class="d-flex pe-e pe-lg-5">
        <button class="border-0 bg-transparent">
          <span class="navbar-toggler-icon navbar-icon-style"></span>
        </button>
        <h1>
          <a href="index.html">
            <picture>
              <source
                media="(min-width: 992px)"
                srcset="../assets/images/brand-image-logo/logo中英組合05.png"
                alt="LOGO-lg"
                class="navbar-logo-style ms-3 ms-lg-5"
              />
              <img
                src="../assets/images/brand-image-logo/logo中英組合05.png"
                alt="LOGO-sm"
                class="w-100 navbar-logo-style ms-3 ms-lg-5"
              />
            </picture>
          </a>
        </h1>
      </div>
      <div class="d-lg-none ps-4">
        <a href="#"><i class="bi bi-search navbar-icon-style"></i></a>
        <a href="#"><i class="bi bi-person-circle navbar-icon-style"></i></a>
      </div>
      <div class="d-none d-lg-block flex-grow-1 px-lg-5">
        <form class="max-width-900" role="search">
          <div class="position-relative">
            <input
              class="form-control ms-5 radius-pill bg-white border border-1 border-neutral-400 placeholder-color navbar-input-height"
              type="search"
              placeholder="例：小型犬飼料"
              aria-label="Search"
            />
            <a href="#" class="position-absolute top-50 end-0 translate-middle">
              <i class="bi bi-search text-neutral-800 bg-transparent fs-6"></i>
            </a>
          </div>
        </form>
      </div>
      <div class="d-none d-lg-block">
        <ul class="list-unstyled d-flex align-items-center m-0">
          <li class="me-4">
            <a href="#"><i class="bi bi-cart3 navbar-icon-style"></i></a>
          </li>
          <li class="navbar-list me-4">
            <a href="#" class="active text-decoration-none">登入</a>
          </li>
          <li class="">
            <button type="button" class="btn btn-primary-200 text-white">
              註冊
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
