<header class="mx-auto" style="max-width: 1440px">
  <nav class="navbar bg-body-tertiary fixed-top p-0">
    <div class="container-fluid px-5 px-lg-6 py-4">
      <div class="d-flex pe-lg-5 justify-content-between w-100">
        <div class="d-flex flex-grow-1 align-items-center">
          <button class="border-0 bg-transparent">
            <span class="navbar-toggler-icon navbar-icon-style"></span>
          </button>
          <h1>
            <a href="index.html">
              <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/brand-image-logo/logo中英組合05.png"
                  alt="LOGO-lg" class="navbar-logo-style ms-3 ms-lg-5 w-100" />
                <img src="../assets/images/brand-image-logo/logo中英組合05.png" alt="LOGO-sm"
                  class="navbar-logo-style ms-3 ms-lg-5 w-100" />
              </picture>
            </a>
          </h1>
          <form
            class="d-none d-lg-block max-width-900 flex-grow-1 ms-5"
            role="search"
          >
            <div class="position-relative">
              <input
                class="form-control radius-pill bg-white border border-1 border-neutral-400 placeholder-color navbar-input-height"
                type="search"
                placeholder="例：小型犬飼料"
                aria-label="Search"
              />
              <a
                href="#"
                class="position-absolute top-50 end-0 translate-middle"
              >
                <i
                  class="bi bi-search text-neutral-800 bg-transparent fs-6"
                ></i>
              </a>
            </div>
          </form>
        </div>
        <div class="d-flex d-lg-none ps-4">
          <a href="#"><i class="bi bi-search navbar-icon-style"></i></a>
          <a href="#"><i class="bi bi-person-circle navbar-icon-style"></i></a>
        </div>
        <div class="d-none d-lg-block mx-lg-5">
<<<<<<< HEAD
          <div class="d-flex justify-content-between">
            <form class="max-width-900" role="search">
              <div class="position-relative">
                <input
                  class="form-control ms-5 radius-pill bg-white border border-1 border-neutral-400 placeholder-color navbar-input-height"
                  type="search" placeholder="例：小型犬飼料" aria-label="Search" />
                <a href="#" class="position-absolute top-50 end-0 translate-middle">
                  <i class="bi bi-search text-neutral-800 bg-transparent fs-6"></i>
                </a>
              </div>
            </form>
=======
          <div class="d-flex justify-content-between align-items-center">
>>>>>>> 82e2d30f14e90d0e7dd9fe1682341b1e1d900d55
            <div>
              <ul class="list-unstyled d-flex align-items-center m-0">
                <li class="me-4">
                  <a href="#"><i class="bi bi-cart3 navbar-icon-style"></i></a>
                </li>
                <li class="navbar-list me-4">
                  <a href="#" class="active text-decoration-none">登入</a>
                </li>
                <li class="">
                  <button type="button" class="btn btn-primary-200 text-white">
                    註冊
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>