.navbar-icon-style {
  padding: 12px;
  color: #111111;
  font-size: 24px;
  @include lg {
    padding: 8px;
    font-size: 20px;
  }
}

.navbar-logo-style {
  height: 36px;
  width: 170px;
  @include lg {
    height: 50px;
    width: 220px;
  }
}
.max-width-900 {
  max-width: 900px;
}
.placeholder-color::placeholder {
  color: $neutral-400; /* 自訂顏色 */
  opacity: 1; /* 保持不透明度 */
  font-size: 16px;
}
.navbar-input-height {
  height: 42px;
}
// .line-height-50 {
//   line-height: 50px;
// }
