.pet-type{
  ul{
    overflow-x: scroll;
    white-space: nowrap;
    &::-webkit-scrollbar{
        display: none;
    }
    @include lg{
        white-space: wrap;
    }
  }
  .head{
    border: 1px solid var(--functional-stroke-stroke-shadow, #F0F0F0);
    width: 64px;
    height: 64px;
    background-color: #FFD4BB;
    @include md{
      width: 96px;
    height: 96px;
    }
    &-dog{
      background-image: url(../images/Illustration/White-dog/stand.png);
      background-repeat: no-repeat;
      background-position: 90% -30%;
      background-size: 200%;
    }
    &-cat{
      background-image: url(../images/Illustration/White-cat/sit.png);
      background-repeat: no-repeat;
      background-position: 30% -50%;
      background-size: 200%;
    }
    &-fish{
      background-image: url(../images/Illustration/fish/white.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 130%;
    }
    &-mouse{
      background-image: url(../images/Illustration/hamster/white.png);
      background-repeat: no-repeat;
      background-position: center -30%;
      background-size: 200%;
    }
    &-rabbit{
      background-image: url(../images/Illustration/rabbit/white.png);
      background-repeat: no-repeat;
      background-position: 40% -20%;
      background-size: 200%;
    }
    &-bird{
      background-image: url(../images/Illustration/parrot/white-left.png);
      background-repeat: no-repeat;
      background-position: 45% -30%;
      background-size: 200%;
    }
  }
}