.catStapleFood-page-nav {
  .nav-link {
    width: 36px;
    height: 38px;
    border-radius: 4px;
    color: $neutral-800;
    padding: 0;
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    font-size: $b4-font-size;
    font-weight: $headings-font-weight;
  }
  .nav-link:hover,
  .nav-link:focus {
    color: $primary-300;
    background-color: $primary-0;
  }
}

.production-modal-taste-btn {
  padding: 15px 12px 15px 12px;
  min-height: 56px;
  border: 1px solid #bbbbbb;
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;
}

.production-modal-speci-btn {
  min-height: 56px;
  min-width: 95px;
  padding: 5.5px 0;
  border: 1px solid #bbbbbb;
  font-weight: 500;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}
.btn-check:checked + .production-modal-speci-btn,
.btn-check:checked + .production-modal-taste-btn,
:not(.btn-check) + .production-modal-speci-btn:active,
:not(.btn-check) + .production-modal-taste-btn:active,
.production-modal-speci-btn:first-child:active,
.production-modal-taste-btn:first-child:active,
.production-modal-speci-btn.active,
.production-modal-taste-btn.active,
.production-modal-speci-btn.show,
.production-modal-taste-btn.show {
  border: 2.5px solid #ec5501;
  color: #ec5501;
}
.production-card {
  box-shadow: 0 4.15px 12.46px -2.08px rgba(24, 39, 75, 0.08),
    0 3.11px 6.23px -3.11px rgba(24, 39, 75, 0.12);
  border-radius: 12px;
  padding: 24px 16px;
}
.production-nav {
  width: 100%;
  .nav-item {
    flex: 1;
    text-align: center;
  }
  .nav-link {
    padding: 12px 0;
    color: $neutral-800;
  }
  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    color: $primary-300;
    font-weight: $font-weight-medium;
  }
  @include md {
    padding: 12px 156px;
  }
}

@media (min-width: 768px) {
  .production-custom-gap {
    margin-left: -32px;
    margin-right: -32px;
  }
  .production-custom-gap > [class*="col-"] {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.progress {
  background-color: $primary-0;
  border-radius: 10px;
  height: 8px;
}

.progress-bar {
  background-color: $primary-200;
  border-radius: 10px;
}
