.list-icon-24 {
  color: #111111;
  font-size: 24px;
}
.list-icon-20 {
  color: #111111;
  font-size: 20px;
}
.list-size-20 {
  height: 20px;
  width: 20px;
}
.m-card {
  box-shadow: 0px 4.15px 4.15px -2.08px #18274b14;
  box-shadow: 0px 2.08px 3.11px -2.08px #18274b1f;
  border: 1px solid #f0f0f0;
  border-radius: 12px;
  overflow: hidden;
}
