<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pairend</title>
    <!-- google-icon-->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

<body>
    <%- include('./layout/header'); -%>
        <div class="checkout-start mx-auto container-fluid" style="padding-top: 74px; max-width: 1440px;">
            <header>
                <div class="container px-md-0 px-5 py-6 pt-md-7 pb-md-8">
                    <div class="me-8 d-flex">
                        <div class="checkout-number bg-neutral-800 me-3"><span>1</span></div>
                        <span class="fs-4 fw-medium fs-md-3">查看購物車</span>
                    </div>
                    <span class="material-symbols-outlined">
                        chevron_right
                    </span>
                </div>
            </header>
        </div>

        <%- include('./layout/footer'); -%>
            <!-- //swiper -->
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            <script type="module" src="../main.js"></script>
            <!-- 縮略圖 -->

</body>

</html>